body {

}

header {
  flex-direction: column;
  justify-content: center;
  text-align: center;

  img {
    margin: auto;
  }

  div {
    text-align: center;
  }

}

#main-split {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  #split-left {
    margin: 0;
  }
}

.vert-split {
  flex-direction: column;

  div {
    margin: 0;
  }
}

.field {
  width: 100%;
}

.note {
  float: right;
  position: relative;
  right:0;
  left:0;
}

.timeline {
  li {
    .label {
      width: auto;

    }
  }
}

#online-profile {
  margin-right: 0;

  .vert-split {
    margin: auto;
    width: 500px;
  }
}

@media (min-width:550px) {

  .vert-split {
    max-width: 500px;
    margin: auto;

    div {
      justify-content: center;
    }

  }

  .field {
    width: 500px;
    margin: 0;
  }

  .timeline {
    li {
      .label {
        max-width: 340px;

      }
    }
  }
}

#online-profile {
  .vert-split {
    width: 100%;

    div {
      display: flex;
      justify-content: center;
    }
  }
}
