{% extends "base.html" %}

{% block menu %}
<nav role="navigation" id="main-nav" >
   <ul id="main-nav-list">
      {% for cat, arts in categories %}
         {% if cat == category %}
             <li><a class="active-cat" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
         {% else %}
             <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
         {% endif %}
      {% endfor %}
   </ul>
</nav>
{% endblock %}

{% block content %}
<section id="content">

    <div id="post-list">
    {% for article in articles %}
        <article class="h-entry">
            <header> 
                <h2 class="p-name">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a>
                </h2>
                <div class="post-info">
                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                    <address class="vcard author">By
                        {% for author in article.authors %}
                            {{ author }}
                        {% endfor %}
                    </address>
                </div>
            </header>
            <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
            <a href="{{ SITEURL }}/{{ article.url }}" class="to-article">LIRE LA SUITE ></a>
        </article>
    {% endfor %}
    
        <div id="paginator">
            {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
            {% endif %}
        </div>
        
    
    </div>

</section><!-- /#content -->
{% endblock content %}